@import "../utils/mixins.scss";
@import "../utils/variables.scss";


.wrapper {
  @include wrapper
}

.results-info {
  text-align: center;
  margin-top: 35px;
  font-size: map-get($fonts, header-size);
}

@media(min-width: 640px) {
  .results-info {
    font-size: map-get($fonts, header-size-desktop);
    margin-bottom: 20px;
    font-weight: bold;
  }

}
