@import "./variables.scss";

@mixin item-with-border($transform: lowercase, $weight: normal, $spacing: normal, $basis: 20%, $max-width: auto, $line: normal, $font-size:map-get($fonts, form-size)) {
  border: 2px solid #eee;
  box-shadow: $box-shadow;
  background-color: white;
  font-family: map-get($fonts, form);
  color: map-get($fonts, color);
  margin: 10px 10px;
  text-transform: $transform;
  padding: 3px 10px;
  font-weight: $weight;
  letter-spacing: $spacing;
  font-size: $font-size;
  flex-basis: $basis;
  max-width: $max-width;
  line-height: $line;
}

@mixin wrapper {
  width: 95%;
  margin: auto;
}
