$fonts: (main: 'Roboto',
  form: 'Open Sans',
  color: #333,
);

$background-color: white;

$box-shadow: 2px 2px 5px 2px rgba(#1e58ff, .3);

@mixin item-with-border {
  border: 2px solid black;
  background-color: white;
  font-family: map-get($fonts, form);
  color: map-get($fonts, color);
  margin: 10px 40px;
  text-transform: uppercase;
  padding: 3px 10px;
}
