@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.item {
  margin: 10px 0px;
  box-shadow: $box-shadow;
  padding: 10px 5px;
  width: 300px;

}

.list__item {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.item__meal-name {
  text-align: center;
  font-size: map-get($map: $fonts, $key: header-size);
  padding-bottom: 20px;
}

.item__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  // flex-basis: 200px;
  min-height: 200px;
  @include wrapper;
  overflow: hidden;
  margin: 0 auto 20px;
}

.item__photo-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.item__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 10px;
}

.item-ingridents {
  flex-grow: 1;

}

.item__ingrident {
  display: flex;
  justify-content: space-between;
  font-size: map-get($map: $fonts, $key: ingridents);
  // position: relative;


  // &::after {
  //   content: "";
  //   height: 1px;
  //   width: 100%;
  //   border-bottom: 1px dashed #333;
  //   position: absolute;
  //   bottom: 2px;
  //   left: 10%;
  // }

  // span {
  //   background-color: $background-color;
  //   z-index: 2;
  // }
}

.item__ingrident-name {
  text-align: left;
  padding-right: 2px;
  min-width: 60px;
}

.item__measure {
  text-align: right;
  padding-left: 2px;
}


.item__video-button {
  @include item-with-border(uppercase, bold, normal, none, 120px);
  display: block;
  text-align: center;
  margin: 0 auto 0px;
  text-decoration: none;
}
