@import "../../utils/variables.scss";

.results__info {
  text-align: center;
  margin-top: 35px;
  font-size: map-get($fonts, header-size);
}

@media(min-width: 640px) {
  .results__info {
    font-size: map-get($fonts, header-size-desktop);
    margin-bottom: 20px;
    font-weight: bold;
  }

}
