@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');
@import "./utils/variables.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: map-get($fonts, main);
  color: map-get($fonts, color);

}
